article{
    padding-left: 10%;
    background-color: rgb(218, 214, 214);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 60%;
}
.legenda{

    height: 30px;
}
#primTitulo{
    color: orangered;
    font-size: 15px;
}
#segTitulo{
    font-size: 40px;
}
#legPrincipal{
    width: 580px;
    
}
.dados{
    display: inline-flex;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;   
}
#dados2{
    padding-left: 10%;
}
#dados3{
    padding-left: 10%;
}
div h1{
    font-size: 180%;
    margin-bottom: 0;
}
#obsDados{
    margin-top: 10%;

}
#numerosDados{
    color: orangered;
    font-size: 35px;
}
.credenciais{
    background-color: orangered;
    display: inline-block;
    width: 400px;
    height: 58%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
}
#nome{
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#email{
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#servico{
    width: 300px;
    height: 45px;
}
#button{
    color: white;
    background-color: black;
    width: 300px;
    height: 45px;
    font-size: 15px;
}

 
.TituloCaras2 {
    text-align: center;
  }

  .TituloCaras1 {
    color: #FF4800;
    text-align: center;
  }

  .TituloFuncionarios1 {
    color: #FF4800;
    text-align: center;
  }

  .TituloFuncionarios2 {
    text-align: center;
  }

.linha2{background-color: #F2F2F4;
}

.linkLinha2{color: #FF4800;
text-decoration: underline;}

.linha1{background-color: #F2F2F4;
border-bottom: 3px solid #FF4800;
text-align: center;}













* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header{
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    justify-content: space-between;

}

.menu {
    flex-wrap: wrap;
    text-align: center;
    padding-top: 2%;
    text-decoration: none;

}

a{
    text-decoration: none;
    color: black;
}

#logo{
    margin: 0;
    padding-top: 15px;
    
    width: 50%;
    
}

#butao{
    background-color: #FF4900;
    padding-top: 18px;
    padding-left:12px;
    padding-right:10px;
    text-decoration: none;
    
    
}

#quoteButton {
    color: white;
    
}

nav a:hover{
    background-color: #FF4800;
    padding: 15px;
    border-radius: 10px;
    color:#F2F2F4}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}